<img src="beatenheart.png" />
<img src="heart.png" />
<img src="deadflower.png" />
<img src="flower.png" />
<img src="lamp.png" />
<img src="lamp2.png" />

<img src="lipkiss.png" />
<img src="lips.png" />

<img src="murder.png" />
<img src="music.png" />
<img src="phone.png" />
<img src="callingphone.png" />

<img src="snail.png" />
<img src="cat.png" />
<img src="dog.png" />
<img src="pig.png" />

<img src="handshake.png" />
<img src="ovation.png" />
<img src="victory.png" />

<img src="night.png" />
<img src="sun.png" />
<img src="stars.png" />
<img src="rain.png" />
<img src="rainbow.png" />
<img src="cloud.png" />

<img src="coctail.png" />
<img src="cup.png" />
<img src="beer.png" />
<img src="wine.png" />

<img src="rice.png" />
<img src="baloons.png" />
<img src="cake.png" />
<img src="gift.png" />


<img src="foo.png" />

<br />

<img src="smile.png" />
<img src="wink.png" />
<img src="sad2.png" />
<img src="sad.png" />


<img src="angry.png" />
<img src="bitten.png" />
<img src="bitya.png" />

<img src="bomb.png" />
<img src="bomb2.png" />

<img src="girlhug.png" />
<img src="boyhug.png" />

<img src="cool.png" />
<img src="cold.png" />
<img src="verycold.png" />

<img src="cry.png" />
<img src="cry2.png" />
<img src="cry3.png" />
<img src="cute.png" />
<img src="dead.png" />
<img src="depressed.png" />
<img src="disasterfully.png" />
<img src="dream.png" />
<img src="evil.png" />
<img src="evil2.png" />
<img src="falleninlove.png" />
<img src="fist.png" />
<img src="flykiss.png" />
<img src="glad.png" />
<img src="good.png" />
<img src="haha.png" />
<img src="hahaha.png" />
<img src="hat.png" />
<img src="hello.png" />
<img src="hey.png" />
<img src="hm.png" />
<img src="hoho.png" />
<img src="ill.png" />
<img src="interesting.png" />
<img src="no.png" />
<img src="offened.png" />
<img src="oh2.png" />
<img src="ohshit.png" />
<img src="ok.png" />
<img src="oops.png" />
<img src="putup.png" />
<img src="question.png" />
<img src="saynothing.png" />
<img src="scary.png" />
<img src="seethis.png" />
<img src="shh.png" />
<img src="shoes.png" />
<img src="shy.png" />
<img src="sleep.png" />
<img src="sleepy.png" />
<img src="sly.png" />
<img src="smarty.png" />
<img src="strain.png" />
<img src="support.png" />
<img src="tease.png" />
<img src="tricky.png" />
<img src="veryangry.png" />
<img src="veryevil.png" />
<img src="vomit.png" />
<img src="what.png" />
<img src="wow.png" />
<img src="wow2.png" />
<img src="wow3.png" />
